@using System.Collections.ObjectModel
@using WebFront.Core.Helper
@{

	Layout = "~/Views/Shared/dashboardLayout.cshtml";
	var result = (KeywordDocumentAPIModel)ViewBag.result;
	ViewData["Title"] = result.documentId == 0 ? "Add New Documents" : "Edit Documents";
	var Keywords = (APISystemReturnModel<ObservableCollection<KeywordsAPIModel>>)ViewBag.Keywords;
}
@section CustomHeader{
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<!-- page content -->
<div class="right_col" role="main">

	<div class="page-title">
		<div class="title_left clear">
			<h2></h2>
		</div>


	</div>
	@using (Html.BeginForm("Save", "Documents", FormMethod.Post, new { @class = "form-horizontal" }))
	{

		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="" role="tabpanel" data-example-id="togglable-tabs">



					<div id="myTabContent" class="tab-content no-padding">

						<!-- tab_contact start -->
						<div class="tab-pane fade active in">
							<div class="x_panel">
								<div class="x_title">
									<h3>
										@(result.documentId==0 ? "Add New Documents": "Edit Documents")
									</h3>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<div class="form-group">
										<div class="row">

											<div class="col-md-6 col-sm-12 col-xs-12">

												<div class="clearfix"></div>
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-3 col-xs-12 ">Document Name<span class="required">*</span></label>
													<div class="col-md-7 col-sm-8 col-xs-12">
														<input type="hidden" class="form-control" name="documentId" value="@(result.documentId==0 ? "0" : result.documentId.ToString())">
														<input type="text" readonly class="form-control" required placeholder="abc" name="title" value="@(result.documentName==null||result.documentName=="" ? "" : result.documentName)">
													</div>
												</div>
													<div class="form-group">
													<label class="control-label col-md-4 col-sm-3 col-xs-12 ">Keywords<span class="required">*</span></label>
													<div class="col-md-7 col-sm-8 col-xs-12">


														<select class="js-example-basic-multiple form-control" name="keywordId" multiple="multiple">
															@{
																List<int> ids = new List<int>();
																foreach (var i in result.keywordDocumentModel)
																{
																	ids.Add(i.keywordId);
																}

																foreach (var i in Keywords.data)
																{
																	if (ids.Contains(i.keyword.keywordId))
																	{
																			<option selected value="@i.keyword.keywordId">@i.keyword.title</option>
																	}else
																	{
																			<option value="@i.keyword.keywordId">@i.keyword.title</option>
																	}
																	
																}
															}

														</select>

												




													</div>
												</div>
											
											</div>




										</div>


									</div>
								</div>




								<div class="clearfix"></div>
								<br />
							</div>



						</div>
						<!-- tab_contact end -->

					</div>





				</div>
			</div>

		</div>


		<div class="form-group">
			<div class="text-right">
				<button class="btn btn-default" type="button" onclick="window.history.go(-1)">Cancel</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
		</div>
	}

	<div class="pb-20"></div>
</div>
<!-- /page content -->
@section scripts{
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.js-example-basic-multiple').select2();
		});

	

	</script>
}